/* -- Fonts -- */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

/* font-family: 'Rubik', sans-serif; */


/* -- Colors -- */
:root{
    --SoftBlue: hsl(231, 69%, 60%);
    --SoftRed: hsl(0, 94%, 66%);
    --GrayishBlue: hsl(229, 8%, 60%);
    --VeryDarkBlue:  hsl(229, 31%, 21%);
    --fontgray: hsl(0, 0%, 15%);
}

/* -- Web Content -- */

body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
    overflow-x: hidden;
}

.home{
    width: 100%;
    min-height: 45vh;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    height: 25px;
    cursor: pointer;
    margin: 33px 0;
    padding-left: 8%;
}

.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}

.menu-close{
    display: none;
    width: 25px;
    cursor: pointer;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    margin-right: 8%;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: var(--fontgray);
    transition: .3s;
    font-size: 17px;
}

nav ul li a:hover{
    color: var(--SoftRed);
}

.nav-btn{
    padding: 7px 20px;
    background-color: var(--SoftRed);
    border: 3px solid var(--SoftRed);
    color: white;
    font-weight: bold;
    border-radius: 6px;
    font-size: 15px;
    transition: .4s;
    cursor: pointer;
}

.nav-btn:hover{
    background-color: transparent;
    color: var(--SoftRed);

}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 0 0 0 ;
    padding-left: 8%;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 0%;
}

.col-1 h2{
    font-size: 50px;
    color: var(--VeryDarkBlue);
    margin: 0;
}

.col-1 p{
    font-size: 14px;
    color: var(--GrayishBlue);
    font-weight: 100;
}

.col-1 p{
    margin: 28px 0;
    font-size: 1.1242em;
}

.home-btn{
    width: 140px;
    height: 39px;
    outline: none;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 0px 0px 5px rgba(218, 218, 218, 0.603);
    transition: .5s;
    cursor: pointer;
}

#hm-btn-1{
    background-color: var(--SoftBlue);
    border: 3px solid var(--SoftBlue);
    color: white;
}

#hm-btn-1:hover{
    background-color: transparent;
    color: var(--SoftBlue);
}

#hm-btn-2{
    background-color: rgba(218, 218, 218, 0.603);
    border: 3px solid rgba(218, 218, 218, 0.603);
    color: var(--VeryDarkBlue);
    margin-left: 12px;
}

#hm-btn-2:hover{
    background-color: transparent;
}

.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.hm-img{
    width: 88%;
    padding-left: 4%;
}

.color-box{
    /* right: 27px;
    top: 120px; */
    position: absolute;
    right: 17px;
    top: 140px;
    background-color: var(--SoftBlue);
    border-radius: 58px 0 0 200px;
    height: 73%;
    width: 90%;
    z-index: -1;
    transform: translateX(150px);
}


/* -- -----x----- Home Section -----x----- -- */

.feature{
    width: 100%;
    display: flex;
    margin-top: 100px;
    margin-bottom: 13%;
    flex-direction: column;
}

.h1_1{
    text-align: center;
    color: var(--VeryDarkBlue);
    font-size: 38px;
    margin: 0 0 10px 0;
}

.p_1{
    font-size: 20px;
    color: var(--GrayishBlue);
    line-height: 28px;
    text-align: center;
    width: 40%;
    align-self: center;
}

.tab-links{
    align-self: center;
    margin-top: 20px;
}

.tab-links ul{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* border: 2px solid black; */
    border-bottom: 2px solid rgba(218, 218, 218, 0.603);
}

.tab-links ul li{
    list-style: none;
    padding: 15px 55px;
    text-align: center;
}

.tab-links ul li a{
    text-decoration: none;
    color: var(--fontgray);
    font-size: 20px;
    transition: .3s;
    cursor: pointer;
    text-align: center;
}

.tab-links ul li a:hover{
    color: var(--SoftRed);
}

#active-tab{
    border-bottom: 4px solid var(--SoftRed);
}

.tabs{
    display: flex;
    margin: 80px 0px 0px 0px;
}

#tab-1{
    display: flex;
}

.tabs .tab{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}


.f-color{
    position: absolute;
    top: 33%;
    background-color: var(--SoftBlue);
    border-radius: 0 10px 200px 0;
    height: 87%;
    width: 92%;
    z-index: -1;
    transform: translateX(-60%);
}

.sml-color{
    top: 30%;
    width: 92%;
    height: 70%;
}

.tab .img-side{
    flex-basis: 50%;
}

.img-side img{
    width: 78%;
    padding-left: 7%;
}

.tab .text-side{
    flex-basis: 40%;
}

.text-side h1{
    color: var(--VeryDarkBlue);
    text-align: left;
    font-size: 35px;
    margin: 0;
}

.text-side p{
    text-align: left;
    color: var(--GrayishBlue);
    font-size: 20px;
    width: 80%;
    margin: 22px 0;
}

.f-btn{
    width: 100px;
    height: 40px;
    background-color: var(--SoftBlue);
    color: white;
    font-weight: bold;
    border: 3px solid var(--SoftBlue);
    border-radius: 4px;
    cursor: pointer;
}

#tab-2{
    display: none;
}

#tab-3{
    display: none;
}

/* -------x----- Feature Section ------x---------- */

.download{
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    margin-bottom: 10%;
}

.tabs-download{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.tabs-d{
    display: flex;
    /* border: 2px solid black; */
    box-shadow: 0px 8px 21px hsl(229deg 8% 60% / 50%);
    height: 380px;
    flex-direction: column;
    margin: 0px 2.6%;
}

.tabs-d .tabs-d-img{
    width: 140px;
    align-self: center;
    margin-top: 35px;
}

.tabs-d h3{
    color: var(--VeryDarkBlue);
    text-align: center;
    margin-top: 40px;
}

.tabs-d p{
    color: var(--GrayishBlue);
    text-align: center;
    margin: 0;
}


.tabs-d .dot-img{
    margin: 20px 3px;
    width: 80%;
    align-self: center;
}

.d_btn{
    width: 85%;
    align-self: center;
    background-color: var(--SoftBlue);
    outline: none;
    color: white;
    height: 45px;
    border-radius: 7px;
    border: 3px solid var(--SoftBlue);
    transition: .4s;
    cursor: pointer;
}

.d_btn:hover{
    background-color: transparent;
    color: var(--SoftBlue);
}

#d_tab_2{
    margin-top: 40px;
}

#d_tab_3{
    margin-top: 80px;
    height: 400px;
}

/* -----x----- Download Section ----x----- */

.qna{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.faq{
    max-width: 650px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid hsla(229, 8%, 60%, 0.623);
    cursor: pointer;
    align-self: center;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3{
    font-size: 22px;
    color: var(--VeryDarkBlue);
    margin: 0;
    font-weight: lighter;
    transition: .3s;
}

.question h3:hover{
    color: var(--SoftRed);
}

.question img{
    transition: .3s ease-in-out;
    height: 14px;
}

.arr-down{
    display: block;
}

.arr-up{
    display: none;
}

.answer{
    max-height: 0px;
    overflow: hidden;
    transition: .6s;
}

.answer p{
    font-size: 20px;
    color: var(--GrayishBlue);
    line-height: 31px;
}



.faq.activefaq .answer{
    max-height: 300px;
    overflow: hidden;
}

.f-btn{
    align-self: center;
    margin-top: 30px;
}

.faq.activefaq .question .arr-down{
    display: none;
}

.faq.faq.activefaq .question .arr-up{
    display: block;
}


/* -----x----- FAQ Section -----x----- */

.subscribe{
    display: flex;
    flex-direction: column;
    background-color: var(--SoftBlue);
    justify-content: center;
    margin-top: 9%;
    padding: 9vh 0;
    color: white;
    align-items: center;

}

.subscribe h4{
    text-align: center;
    font-size: 19px;
    font-weight: lighter;
    letter-spacing: 5px;
    margin: 0;
}

.subscribe h1{
    text-align: center;
    font-weight: 500;
    font-size: 35px;
    margin: 42px 0px;
}

#form{
    position: relative;
    display: flex;
}

#form #email-id{
    width: 200px;
    border: none;
    outline: none;
    padding: 15px 80px 15px 22px;
    border-radius: 6px;
    font-size: 15px;
}

#form.invalid .inputbox{
    position: relative;
}

 #form.invalid .inputbox:before{
    content: '';
    position: absolute;
    right: 12px;
    top: 12px;
    width: 24px;
    height: 24px;
    background: url(../images/icon-error.svg);
    background-size: cover;
    z-index: 100;
} 

#form.invalid #email-id{
    border: 2px solid var(--SoftRed);
}

#form.invalid #text{
    display: block;
    font-style: italic;
    padding: 5px;
    transition: .1s;
    position: absolute;
    background-color: var(--SoftRed);
    width: 97%;
}

#submit-subscribed{
    width: 130px;
    height: 49px;
    align-self: center;
    margin-left: 15px;
    border: 2px solid var(--SoftRed);
    background-color: var(--SoftRed);
    color: white;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
}

#submit-subscribed:hover{
    background-color: white;
    color: var(--SoftRed);
}

/* ----------------x----- Subscribe Section -----x------------ */

.footer{
    background-color: var(--VeryDarkBlue);
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.logo-footer{
    margin: auto 20px auto 0;
    padding: 0;
}

.footer .side-1{
    display: flex;
    justify-content: center;
    margin-left: 8%;
}

.side-1 ul{
    display: flex;
    margin: 0;
    padding: 0;
    align-self: center;
}

.side-1 ul li{
    list-style: none;
}

.side-1 ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 20px;
    transition: .3s;
}

.side-1 ul li a:hover{
    color: var(--SoftRed);
}

.footer .side-2{
    padding-right: 8%;
    align-items: center;
    display: flex;
}

.footer .side-2 .social-icons{
    display: flex;
}

.side-2 .social-icons img{
    margin: auto 22px;
    cursor: pointer;
}

.side-2 .social-icons img:hover{
    filter: invert(50%) sepia(99%) saturate(1475%) hue-rotate(331deg) brightness(105%) contrast(100%);
}

